.main
  %selection.main-show
    %h2.post-show
      = @posts.title
    .show-form
      .show-form__upload
        %h3.show-form__upload__image　画像
        = image_tag @image.image.to_s

      .show-form__title
        %h3.show-form__title__text　詳しい内容
        = @posts.detail

      .show-form__title
        %h3.show-form__title__text 都道府県
        = @posts.prefecture.name

      .show-form__title
        %h3.show-form__title__text
          市区町村
          = @posts.city

      .show-form__title
        %h3.show-form__title__text
          番地
          = @posts.house_code

      .show-form__title
        %h3.show-form__title__text
          建物名
          = @posts.build_name