.main
  %selection.main__block
    %h2.post-block
      = @posts.title
    .post-form
      .post-form__upload
        %h3.post-form__upload__image
          画像
          = image_tag @image.image.to_s

      .post-form__title
        %h3.post-form__title__text
          詳しい内容
          = @posts.detail

      .post-form__title
        %h3.post-form__title__text
          都道府県
          = @posts.prefecture

      .post-form__title
        %h3.post-form__title__text
          市区町村
          = @posts.city

      .post-form__title
        %h3.post-form__title__text
          番地
          = @posts.house_code

      .post-form__title
        %h3.post-form__title__text
          建物名
          = @posts.build_name